*.o
/release
/sgp30/sgp30_example_usage
/sgp30/user_config.inc
/sgp40/sgp40_example_usage
/sgp40/user_config.inc
/sgp40_voc_index/sgp40_voc_index_example_usage
/sgp40_voc_index/user_config.inc
/sgpc3/sgpc3_example_usage
/sgpc3/user_config.inc
/sgpc3_with_shtc1/sgpc3_with_shtc1_example_usage
/sgpc3_with_shtc1/user_config.inc
/svm30/svm30_example_usage
/svm30/user_config.inc
/sgp-common/sgp_git_version.c
i2c-mux-testbed/
tests/sgp30-test-hw_i2c
tests/sgp30-test-sw_i2c
tests/sgp40-test-hw_i2c
tests/sgp40-test-sw_i2c
tests/sgp40-voc-index-test-hw_i2c
tests/sgp40-voc-index-test-sw_i2c
tests/sgpc3-test-hw_i2c
tests/sgpc3-test-sw_i2c
tests/svm30-test-hw_i2c
tests/svm30-test-sw_i2c
tests/sensirion-voc-algorithm-test
